#containerOuter {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.columnDiv {
    display: flex;
    height: 60px;
}

.rowDiv {
    width: 60px;
    /* [debug]
    border-color: red;
    border-width: 1px;
    border-style: solid; */
}