#containerOuter {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    height: 900px;
    width: 900px;
}

.columnDiv {
    display: flex;
    flex-grow: 1;
}

.rowDiv {
    flex-grow: 1;
}